---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialNetworkButton from "../components/SocialNetworkButton.astro";
import GithubIcon from "../assets/icons/Github.astro";
import LinkedInIcon from "../assets/icons/LinkedIn.astro";
import EmailIcon from "../assets/icons/Email.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../assets/icons/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portafolio de Bryan Mu침oz - Desarrollador y Programador con 2 a침os de experiencia"
  description="Contrata a Bryan Mu침oz, un desarrollador y programador con 2 a침os de experiencia en Bogot치, Colombia. Especializado en crear soluciones de calidad."
>
  <main class="px-4">
    <SectionContainer class="pt-44 pb-24">
      <h1
        class="text-white text-2xl sm:text-4xl font-bold flex flex-row gap-x-4 pb-4"
      >
        Hey, soy Bryan Mu침oz <a
          href="https://www.linkedin.com/in/bfmunozm96/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+2 a침os de experiencia</span>, <span class="text-yellow-200/90"
          >Desarrollador.</span
        >
        <span class="text-red-200/90">De Bogot치, Colombia 游뻟릖.</span>
        <span class="opacity-80"
          >Especializado en crear soluciones de calidad.</span
        >
      </h2>
      <ul class="flex flex-row gap-4 py-4 flex-wrap">
        <li>
          <SocialNetworkButton href="https://github.com/redflox">
            <GithubIcon class="size-6" /> Github
          </SocialNetworkButton>
        </li>
        <li>
          <SocialNetworkButton href="https://www.linkedin.com/in/bfmunozm96/">
            <LinkedInIcon class="size-6" /> LinkedIn
          </SocialNetworkButton>
        </li>
        <li>
          <SocialNetworkButton href="mailto:bfmumo@gmail.com">
            <EmailIcon class="size-6" /> bfmumo@gmail.com
          </SocialNetworkButton>
        </li>
      </ul>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl semi-bold text-white pb-6 flex gap-x-3 items-center">
        <ExperienceIcon class="size-8" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-2xl semi-bold text-white pb-6 flex gap-x-3 items-center">
        <ExperienceIcon class="size-8" /> Proyectos
      </h2>
      <Projects/>
  </main>
</Layout>

<style></style>
