---
import type { ACTION_ERROR_CODES } from "astro:actions";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Diciembre 2023 - Octubre 2024",
    title: "Desarrollador Backend - OATI UD",
    description:
      "Aunque mi puesto era de desarrollador backend, me desempeñé en el frontend con Angular 16 y en el backend con Go, orientado a microservicios. Mi gran hazaña en este trabajo fue ser un pilar fundamental en la migración de un monolito a microservicios y microfrontends de la aplicación de gestión académica de la Universidad Distrital Francisco José de Caldas, desempeñándome en el frontend y backend de manera ágil y adaptativa, proponiendo e implementando buenas prácticas de desarrollo y arquitectura.",
  },
  {
    date: "Diciembre 2022 - Mayo 2023",
    title: "Desarrollador Junior - Jerrejerre S.A.S",
    description:
      "Desarrollador Junior, lideré la gestión y mantenimiento de servidores Linux, desplegando aplicaciones en contenedores mediante Docker Compose y Docker Stack. Aproveché servidores web como Apache, Nginx y OpenLiteSpeed para optimizar las operaciones. Adicionalmente, desarrollé un módulo para Joomla CMS y colaboré activamente en el mantenimiento de sitios Drupal.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-2">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
