---
// Supports weights 300-900
import "@fontsource-variable/red-hat-display";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative h-full w-full bg-slate-950">
    <Header />
    <slot />
    <div
      class="-z-10 absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px]"
    >
    </div>
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
  </body>
  <Footer />
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Red Hat Display Variable", sans-serif;
    color: white;
	scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media(prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
  }
</style>
